*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
table{
    width: 50%;
    margin: 20px auto;
   border-collapse: collapse;
}
th,td{
    border: 1px solid;
    padding: 10px;
    text-align: center;
}
.startups{
    background-color: rgb(240, 216, 172);
}
.coa{
    background-color: rgb(252, 252, 147);
}
.os{
    background-color: rgb(121, 121, 252);
}
.maths{
    background-color: rgb(129, 253, 253);
}
.py{
    background-color: rgb(140, 237, 140);
}
.web{
    background-color: rgb(235, 102, 102);
}