* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vw;
    font-weight: bold;
}

.container {
    background: linear-gradient(45deg, #1d0000, #20205b);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.calender {
    width: 40vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

}

.left,
.right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left {
    width: 52%;
    background-color: white;
}

.right {
    width: 48%;
    background-color: orangered;
    color: white;
}

#date {
    font-size: 10vw;
}
@media  screen and (max-width:400px) {
    .calender{
        height: 20vh;
    }
    
}
@media  screen and (max-width:140px) {
    .calender{
        width: 100%;
    }
    #date{
        font-size: 12px;
    }
    *{
        font-size: 8px
    }
    
}