*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color:rgb(162, 186, 178);
}
#date{
    width: 40vw;
    height: 15vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vw;
    font-size:6vw; 
}